// Specific CSS for your home-page
.main-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;


}


.navbar {
  display: flex;
  flex-direction: column;
align-items: end;
  justify-content: space-between;

  padding: 10px;
  z-index: 9999;
  position: relative;


}

#form {
  display:flex;
  flex-direction:column;
  background-color:#673AB7;
   padding:200px;
   color:white;
   border-radius:8px;
}

.navbar-toggle {
  cursor: pointer;
}

.navbar-menu {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top:100%;
  z-index: 9999px;
}

.navbar-menu li {
  margin-bottom: 10px;
 gap:20px;
}

.navbar-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 5px;
}

.navbar-menu a:hover {
  text-decoration: underline;
  transition: 4s ease-in-out;
  color: deeppink;


}


.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 9999;
  justify-content: space-evenly;
  max-height: 100vh;



}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;

  background: linear-gradient(141deg, rgba(105,134,200,1) 0%, rgba(205,167,245,1) 26%, rgb(94, 105, 118) 72%);
}


.chessimg1{
  width: 40vw;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(62, 15, 171);
  white-space: nowrap;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 0, 0); }
}

.box1 {
  display: flex;
  align-items: center;
  text-align: center;
  color:white;
  letter-spacing: 10px;
  font-size: 30px;
}

h2 {
  letter-spacing: 6px;
}

.first-row {
  display: flex;
  flex-direction: row;
}

.first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.experience {
  top:0;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin:auto;
  align-items:center;
  justify-content: space-evenly;
  text-align: justify;
}

.new {
  text-align: justify;
  margin:20px;
}
.experience p {
  color:white;

}

.experience h2,h3 {
  color:white;

}

li {
  text-decoration: none;
  list-style-type: none;
  color:white;
}


.buttons {
  gap:20px;
  margin:20px;
}
.button1{

color: #2740b0;
text-decoration: none;
background: none;
border: 1px;
padding: 10px 50px;
box-sizing: border-box;
border-radius: 10px;
border-style: solid;
opacity: 80%;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }

.button1:hover{
  border-color: #1e1c95;
  color: rgb(255, 255, 255);
  box-shadow:0 0,5em 0.5em -0.4em #000000;
  transform: translate Y(-0.15em);
  cursor: pointer;
  opacity: 100%;
  background: linear-gradient(45deg, #673AB7, #3F51B5);
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.button12 {

  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(45deg, #673AB7, #616682);
  padding: 10px 50px;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  opacity: 80%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

}

a {
  color:white;
  text-decoration: none;
}

.fitseek {

  background-image: url(fitseekbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  filter:grayscale(1);
}

.fitseek:hover{
  filter: grayscale(0.5);
}
.wedding {
  background-image: url(project2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  filter: grayscale(1);

}

.wedding:hover {
  filter: grayscale(0.5);
}

.chefly {
  background-image: url(chefly.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  filter:grayscale(1);

}

.chefly:hover{
  filter: grayscale(0.5);
}

.projects {
  display:flex;
  flex-direction: column;
  margin:auto;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  width: 50vw;
  border-radius: 9px;

}

textarea {
  border-radius: 8px;
  margin-bottom:20px;
}


[type="submit"] {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #ffffff;
  background-color: #ffffff;
  text-decoration: none;
  background: none;
  border: 1px;
  padding: 10px 29px;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  opacity: 80%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;



 }

 .profile:hover {
  transform: translateY(20px);

 }

 .chesspic:hover {
  transform: translateY(50px);
 }


[type="submit"]:hover {
  border-color: #ffffff;
  background-color:white;
  color: rgb(163, 33, 202);
  box-shadow:0 0,5em 0.5em -0.4em #000000;
  transform: translate Y(-0.15em);
  cursor: pointer;
  opacity: 100%;

}


@media only screen and (max-width: 600px) {
  .experience {
    display: flex;
    flex-direction: column;

  }

  .fitseek{
    display: none;
  }
  .wedding{
    display: none;
  }
  .chefly{
display: none;  }

  .chessimg1 {
    width: 70vw;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .card {
    box-sizing: border-box;
    border-style: solid;
    background-color: white;
    width: 50vw;
    height: 20vh;
    box-shadow: 2px 2px 2px 2px #5944ac;
    border-radius: 5px;
    opacity: 90%;
  }
}
.container2{
  height: 100vh;
  display:flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.cards {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.card {
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  width: 40vw;
  height: 20vh;
  box-shadow: 2px 2px 2px 2px #5944ac;
  border-radius: 5px;
  opacity: 90%;
}
.card:hover {
  box-shadow: 8px 8px #5944ac;
  opacity: 100%;
transform: translateY(6px);
  cursor: pointer;
}


.card-image {
  display: flex;
  margin: auto;
  text-align: center;

}


.card2 {
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  width: 40vw;
  height: 40vh;
  box-shadow: 2px 2px 2px 2px #ffffff;
  border-radius: 5px;
  opacity: 90%;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


#form {
  display: flex;
  flex-direction: column;
  background-color: #673AB7;
  padding: 74px;
  color: white;
  border-radius: 8px;
  max-width: 100vw;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
