<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row">
    <form form action="https://getform.io/f/121fffe2-aaa8-47d2-bc83-66252f74fd9d" method="POST" id="form", style="display:flex;flex-direction:column;background-color:#673AB7; padding:200px; color:white; border-radius:8px;">
       <h2 class="color:white;"> Contact me!</h2>
           <label for="bride"> Name: </label>
             <input type="text" id="bride" class="name" name="bride">
             <label for="comments"> Message </label>
             <textarea name="comments" id="comments" class="message"> </textarea>
            <input type="submit" onclick="functionSubmit()" id="submit" class="submit1" value="Submit" name="submit", class="button1">
    </form>
  </div>
</div>
